.sidebar__block-works::after,
.sidebar__block-works::before {
  margin: 1.2rem 0;
}

@media (max-width: 960px) {
  .project__box {
    margin-top: 0;
    width: calc(100% - 2rem);
  }

  .projects__descr-text{
    margin-bottom: 1rem;
  }
  .project__box:nth-child(2) {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .main-sidebar {
    margin-right: 2rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 1rem;
  }

  .header {
    padding-bottom: 4.5rem;
  }

  .header__title {
    display: none;
  }

  .header__top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 2rem 0;
  }

  .header__person {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__person-name {
    margin-top: 1rem;
    margin-left: 0;
  }

  .main {
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-sidebar {
    margin: 0;
    position: static;
  }

  .main-projects {
    margin-top: 3rem;
  }

  .sidebar {
    min-width: unset;
    width: 100%;
    max-width: 100%;
  }

  .sidebar__works {
    max-width: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sidebar__works::before,
  .sidebar__works::after {
    margin: 1.2rem 0;
  }

  .sidebar__works-count {
    margin-left: 1rem;
  }

  .project__box {
    width: 100%;
    margin-bottom: 2rem;
  }

    .header__person-icon{
      width: 18rem;
      height: 18rem;
    }

  .header__person-name {
    font-size: 2.3rem;
  }
}

@media (max-width: 500px) {
  .popup__inner {
    width: 95%;
    margin: 0 auto;
  }

  .project__box-title {
    font-size: 1.3rem;
  }

  .project__box-info {
    font-size: 1.2rem;
  }

  .project__box-info {
    padding: 1rem;
    padding-left: 1.5rem;
  }
}

@media (max-width: 374px) {
  .popup__contact-link {
    width: calc(50% - 1.3rem);
  }
}